><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin_redirect</title>
</head>
<body>
  <div class="admin-page">
  <div class="form">
    <form class="admin-form" method="post">
					<input class="text" type="text" name="admin_city" placeholder="Enter city name">
    </form>
  </div>
</div>
</body>
</html>